.main {
    min-width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4%;
}

.mainInfo {
    width: 92%;
    height: 620px;
    display: flex;
    flex-direction: row;
    margin: 0 0 110px 0;
    align-items: center;
}

.mainContent {
    width: 53%;
    margin: 20px 0 20px 0;
}

.mainTitle {
    min-width: 100%;
    font-size: 60px;
    margin: 70px 0 20px 0;
}

.mainDescription {
    font-family: "inter-regular";
    font-size: 20px;
    width: 65%;
    margin: 20px 0 70px 0;
}

.requestData {
    font-family: "inter-medium";
    font-size: 22px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--second-color-3);
    padding: 16px 59px;
    color: var(--main-color-3);
}

.nav {
    text-align: start;
    margin: 70px 0 200px 0;
}

.mainImage {
    width: 47%;
    height: 620px;
}

.mainImage img {
    width: 100%;
    height: 620px;
}

.advertisementBar {
    width: 92%;
    height: 349px;
    border: 5px solid aqua;
    margin: 0 0 70px 0;
    align-items: center;
    font-size: 45px;
}

.advertisementBar div {
    margin-bottom: 70px;
}

.advertisementBar span {
    display: block;
    height: 225px;
    border: 1px green solid;
}

.advertImage {
    width: 92%;
    height: 575px;
    margin: 70px 0 107px 0;
}

.advertImage img {
    width: 100%;
    height: 575px;
}

.advertImageDesktop {
    display: block;
}

.advertImageMobile {
    display: none;
}


.tariffTitle {
    width: 100%;
    font-size: 45px;
    margin: 0 0 70px 200px;
}

.tariffs {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 118px 0;
}

/* Responsive web design */

@media (min-width: 993px) and (max-width:1400px) {
    .mainTitle {
        font-size: 45px;
    }
}

@media (min-width: 320px) and (max-width:992px) {
    .mainInfo {
        width: 100%;
        height: 598px;
        display: flex;
        flex-direction: column;
        margin: 0 0 55px 14px;
        align-items: center;
    }

    .mainContent {
        width: 100%;
    }

    .mainTitle {
        width: 100%;
        font-size: 28px;
        margin: 20px 0 20px 0;
    }

    .mainDescription {
        width: 100%;
        font-size: 18px;
        margin: 0 0 32px 0;
    }

    .nav {
        text-align: center;
        margin: 30px;
    }

    .requestData {
        font-size: 20px;
        padding: 16px 59px;
        margin: 0 0 25px 0;
    }

    .mainImage {
        width: 100%;
        height: 342px;
    }

    .mainImage img {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 342px;
    }

    .advertisementBar {
        width: 92%;
        height: 400px;
        margin: 55px 0 0 0;
        font-size: 28px;
    }

    .advertImage {
        height: 392px;
        width: 100%;
        margin: 80px 20px 80px 20px;
        overflow: hidden;
        position: relative;
        border: 1px rgb(255, 157, 0) solid;
    }

    .advertImage img {
        height: 392px;
        width: 100%;
    }

    .advertImageDesktop {
        display: none;
    }

    .advertImageMobile {
        display: block;
    }

    .tariffs {
        width: 92%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 43px 0;
    }

    .tariffTitle {
        width: 100%;
        font-size: 28px;
        margin: 0 0 37px 80px;
    }
}